 
PH.2446_Special Education Requirements 
1 
 
 
 
 
RESPONSIBLE DEPARTMENT: 
Retail Pharmacy/Community Pharmacy 
SUBJECT:  
Special Education Requirements 
PAGES: 
2 
REPLACES POLICY (NUMBER/DATE): 
PH.2446 (02/07/2020) 
ORIGINAL EFFECTIVE 
DATE: 02/07/2017 
REVISIONS EFFECTIVE: 
03/27/2023 
POLICY NUMBER:  
PH.2446 
 
SCOPE: 
Applies to team members who work in or for Our Lady of the Lake Hospital, Inc. (OLOLH) pharmacies. 
PURPOSE: 
This policy assures that patients receiving medications that require special education are provided with the required 
education. 
POLICY: 
The pharmacy occasionally dispenses medications that require special education, certification, or training. 
DEFINITIONS: 
N/A 
PROCEDURE: [URAC P-OPS 5-3 (a, b)] 
A. All pharmacists will be required to obtain continuing education as required by state law and regulation. 
B. Pharmacists are encouraged to seek opportunities to acquire additional training and education in 
therapeutic areas appropriate for business and its focus on specific patient groups.  
C. Additionally, when required by a manufacturer, the pharmacy will meet or exceed the minimum patient 
education requirements in place for that manufacturer's quality assurance program.  Examples of two 
such programs would be those for Thalomid® and Accutane®. 
D. The patients, caregivers and prescribers will be provided with the special education related to these 
specialty pharmacy products.  
E. The pharmacy will notify patients and prescribers of any new FDA guidance or self-imposed 
manufacturer restriction that could cause a potential safety event. 
Note:  The information described herein does not create any legal rights and FMOLHS reserves the right to deviate 
from, revise or eliminate this policy, at any time, in its sole discretion. 
STATUTORY/REGULATORY AUTHORITY: 
• URAC Standards: P-OPS 5-3 
• ACHC Standards: DRX5-5A 
ATTACHMENTS:  
N/A 
 
 
 
OUR LADY OF THE LAKE HOSPITAL 
 
 
3/27/2023 12:47 PM 
 
 
PH.2446_Special Education Requirements 
2 
Policy Oversight by: 
 
Senior Director of Pharmacy for Our Lady of the Lake Hospital, Inc.  
 